@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Ultra&family=Yeseva+One&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(0, 0, 0);

}

.list-unstyled  {
  margin: auto;
  position: aboslute;
  width: auto;
}
.responsive {
  width: 50%;
  max-width: 40vw;
  height: auto;
}


.container {
  max-width: 1200px;
  margin: auto !Important;
}

.nav {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: right;
}

.nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: rgb(182, 182, 182);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #367588;
  font-weight: bold;
}

.hero {
  background-image: url('img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 90vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 2em;
  z-index: -1;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 6.5em;
  margin: -10px 0 10px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}




.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}




.social {
  position:fixed;
  top:30%;
  right:1%;
 
}

.social ul li{
  font-size: .7em;
  display: block;
  margin: .5em -1em;
  background-color: rgb(252, 252, 252);
  width: 6em;
  text-align: left;
  padding: .5em;
  border-radius: 1em;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 1s;  /* the transition property the duration of the effect */
}
/* the hover selector helps to style element whenever I mouse over them */
.social ul li:hover{
  /* translatex is a <transform-function> data type which I can use to let my element move horizontally */
  transform: translatex(-60px);
}

.social ul li.twitter:hover{
  background-color: rgb(255, 255, 255);
}
/*--this allows us to rotate the element once we mouse it-->*/
.social ul li:hover i{
  transform: rotate(360deg);
  transition: all 1s;
}

.roll {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}




.center-content {
  margin-top: 120px;
  margin-bottom: 120px
}

.btn-pink {
  border-radius: 0;
  background-color: #FF4081;
  color: #fff !important;
  letter-spacing: 2px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px
}

.btn-pink:hover {
  background-color: #008280
}

.line {
  border-top: 1px solid #5a5959;
  width: 90% !important
}

.fa-mobile {
  font-size: 20px
}

#contact {
  font-size: 15px
}

.grey-text {
  color: rgb(255, 255, 255)
}





		/* Copyright */

    #copyright {
      font-size: 1em;
      margin: 0;
    }






